extends layout

block content
  h1= title
  table(border='1')
    thead
      tr
        th ID
        th Name
    tbody
      each item, i in data
        tr
          td= item.id
          td= item.name
